<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
  <appSettings>

    <add key="ConnectionString" value="Data Source=localhost;Initial Catalog=OttaMatta;user id=OTTAWEB;password=[redacted]" />
    
    <!-- Dev testing 
    <add key="ContentServer" value="http://localhost:81" />
    <add key="ServerName" value="http://localhost:81" />
    -->

    <!-- Testing website (not service) from the Mac 
    -->
    <add key="ContentServer" value="http://192.168.1.105:81" />
    <add key="ServerName" value="http://192.168.1.105:81" />

    <!-- Turn off to not actually store the data in the database, just test the UI -->
    <add key="EnableSoundUpload" value="true"/>
    
    <!-- Turn off to allow sound uploads without having an icon-->
    <add key="RequireIconUpload" value="false"/>

    <!-- The cache directory for sound conversion -->
    <add key="CacheSoundsDirectory" value="~/cache/sounds" />
  </appSettings>

	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
		</compilation>

    <!-- set this to "On" (capital O) to test the custom error page -->
    <customErrors mode="Off" defaultRedirect="otamata-err.htm"/>

  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <!--
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true" />
      </webHttpEndpoint>
    </standardEndpoints>
    -->
  </system.serviceModel>

  <system.webServer>
    <!-- This allows regular websites (e.g. typical ASPX pages, including this service) to get the runtime to handle REST service requests w/o "xxx.svc" in the url.  
    Essentially, you're removing the restriction on the routing module so it looks at all requests.
    See this page: http://www.britishdeveloper.co.uk/2010/06/dont-use-modules-runallmanagedmodulesfo.html
    -->
    <modules>
      <remove name="UrlRoutingModule-4.0" />
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" preCondition="" />
    </modules> 
  </system.webServer>


</configuration>
